.trainer-summary-container {
  background-color: #fff;
  border: 1px solid #efefef;
}

.trainer-summary-username {
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
}

.trainer-summary-name {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

.remove-button {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: none;
}

.remove-button-icon {
  display: flex;
  justify-content: center;
}
